.gCard{
  background-color:blue;
}

.gCards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 600px) {
  .gCards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 800px) {
  .gCards { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1100px) {
  .gCards { grid-template-columns: repeat(4, 1fr); }
}
